@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-epilogue: "Epilogue", sans-serif;
  --font-weight-500: 500;
  --font-weight-700: 700;

  --color-almost-white: hsl(0, 0%, 98%);
  --color-medium-gray: hsl(0, 0%, 41%);
  --color-almost-black: hsl(0, 0%, 8%);
}